# WordPress Core
/wp-admin/
/wp-includes/
/wp-*.php
license.txt
readme.html
xmlrpc.php

# Plugins
/wp-content/plugins/*
!/wp-content/plugins/miplugin-personalizado/

# Themes
/wp-content/themes/*
!/wp-content/themes/temaPrueba/

# Uploads y cache
/wp-content/uploads/
/wp-content/cache/
*.log
*.tmp
*.zip

# Configuración local
wp-config.php
.htaccess
*.sql

# Node y build
node_modules/
dist/
build/

# Evitar archivos ocultos de OS
.DS_Store
Thumbs.db