# WordPress Core
/wp-admin/
/wp-includes/
/wp-*.php
/index.php
license.txt
readme.html
xmlrpc.php

# Configuración
/wp-config.php
/.htaccess
/.htaccess.bk

# Plugins
/wp-content/plugins/

# Must-use plugins de hosting
/wp-content/mu-plugins/

# Themes
/wp-content/themes/*
!/wp-content/themes/temaPrueba/

# Uploads, cache, traducciones y LiteSpeed
/wp-content/uploads/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/languages/
/wp-content/litespeed/

# Base de datos
*.sql
*.sql.gz

# Backups
*.bk
*.backup

# Ignorar archivos específicos
secret.txt
config.php

# Ignorar carpetas completas
node_modules/
dist/
build/

# Logs
**/debug.log
*.log
*.tmp

# Excepciones
!important.txt