# WordPress Core
/wp-admin/
/wp-includes/
/wp-*.php
/index.php
license.txt
readme.html
xmlrpc.php

# Configuración
/wp-config.php

# Plugins - Ignorar todos
/wp-content/plugins/

# Si necesitas versionar Download Monitor (descomenta):
# !/wp-content/plugins/download-monitor/

# Themes
/wp-content/themes/*
!/wp-content/themes/temaPrueba/

# Uploads, cache y TRADUCCIONES
/wp-content/uploads/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/languages/

# Base de datos
*.sql
*.sql.gz

# Ignorar archivos específicos
secret.txt
config.php

# Ignorar carpetas completas
node_modules/
dist/
build/

# Ignorar archivos en cualquier subcarpeta
**/debug.log
*.log
*.tmp

# Excepciones
!important.txt